# dependencies
node_modules/
dist/
.astro/
studio/dist/
studio/node_modules/
.sanity/

# env files
.env
.env.production
.env.development
.env.local
.env.*.local
studio/.env
studio/.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db